%section.sign_in.container
  .row
    .col-sm-10.col-sm-offset-1
      = form_tag sessions_new_path, class: 'sign_in' do 
        %header
          %h1 Sign in
        .row  
          .form-group.col-sm-4  
            = label_tag :email, "Email"
            = email_field_tag :email, params[:email] || '', class: "form-control", placeholder: "your@email.com"
        .row
          .form-group.col-sm-4        
            = label_tag :password, "Password"
            = password_field_tag :password, params[:password] || '', class: "form-control", placeholder: "password"
        .row.form-group
          = submit_tag 'Sign In', class: 'btn btn-primary'
        .row
          = link_to 'Forgot your password?', forgot_password_path

        

