%script{:src => "https://js.stripe.com/v2/", :type => "text/javascript"}

:javascript
  Stripe.setPublishableKey("#{ENV["STRIPE_PUBLIC_KEY"]}");

=javascript_include_tag 'payments'  

%section.register.container
  .row
    .col-sm-10.col-sm-offset-1
      %header
        %h1 Register
      = bootstrap_form_for @user, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-6", html: {id: 'payment-form'} do |f|
        %span.payment-errors
        = hidden_field_tag :invitation_token, @invitation_token
        = f.email_field :email, label: "Email Address"
        = f.password_field :password, label: "Password"
        = f.text_field :full_name, label: "Full Name"
        %fieldset.credit_card
          .form-group
            = label_tag :credit_card_number, "Credit Card Number", class: "control-label col-sm-2"
            .col-sm-6
              = text_field_tag :credit_card_number, nil, data: { :stripe => "number"}, class: "form-control"
          .form-group
            = label_tag :security_code, "Security Code", class: "control-label col-sm-2"
            .col-sm-6
              = text_field_tag :security_code, nil, data: { :stripe => "cvc"}, class: "form-control"
          .form-group
            %label.control-label.col-sm-2 Expiration
            .col-sm-3
              = select_month(Date.today, {add_month_numbers: true},  class: 'form-control', data: {stripe: "exp-month"})
            .col-sm-2
              = select_year(Date.today.year, {start_year: Date.today.year, end_year: Date.today.year + 4}, class: 'form-control', data: {stripe: "exp-year"})
        %fieldset.actions.control-group.col-sm-offset-2
          .controls
            %input(type="submit" value="Sign Up" class="btn btn-default")
